<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reserva</title>

    <link rel="stylesheet" href="{% static 'agenda/styles.css' %}">
</head>

<body>

<div class="container">
    <h1>{{ dentista.nombre_consultorio }}</h1>

    <h2>Selecciona un día</h2>
    <div class="dias" id="dias"></div>

    <h2>Horarios</h2>
    <div class="horarios" id="horarios"></div>

    <h2>Datos</h2>
    <input id="nombre" placeholder="Tu nombre">
    <input id="email" placeholder="Tu email">

    <button class="btn-reservar" onclick="reservar()">Reservar</button>
</div>

<!-- JS SIEMPRE ABAJO -->
<script>
const slug = "{{ slug }}";
</script>

<script src="{% static 'agenda/app.js' %}"></script>

</body>
</html>

